.title {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}

.title h1 {
  font-size: 2.5rem;
  font-weight: 800;
  margin-top: 2rem;
}

.subtitle {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  font-size: 1.25rem;
  font-weight: 400;
}

.imageContainer {
  display: flex;
  justify-content: center;
  margin: 2rem;
}

.myHomeImage {
  border-radius: 0.625rem;
}
